.header {
    width: 100%;
    height: 60px;
    margin: 0;
}

body {
    margin: 0;
    font-family: monospace;
    background-color: #202020;
}

.header .container {
    display: flex;
    justify-content: space-between;

}

.header .container .navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    width: 500px;
    align-items: center;
}

ul {
    color: #00F296;
    font-weight: 2px;
    font-size: 15px;
}

h1 {
    color: #00F296;
}

p {
    color: #00F296;
}

.banner span {
    color: #00F296;
    font-weight: bolder;
}

.banner .container p {
    width: 280px;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner {
    background-image: url(imgs/fundo.jpg);
    background-size: cover;
    height: 600px;
    border: 1px solid #00F296;
    border-radius: 2px;
}

.banner .container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header img{
    width: auto;
    height: 60px;
}

.footer .container {
    background-color: #00F296  ;
    width: 100%;
    height: 140px;
    color: #474747;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
}

.valores {
    background-color: #202020;
    padding: 50px 0;    
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.box img{
    width: 128px;
    align-self: center;
}

.box p{
    color: #00F296;
    font-size: 20px;
}

.box h4{
    color: #00F296;
    font-size: 20px;
}

.valores .container {
    display: flex;
    justify-content: space-evenly;
}